<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLs_l-6g3BodUjDED__GkLc8j5VfdIDUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1069842051069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pedraazulApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>festcine-pedra-azul-a267e</string>
	<key>STORAGE_BUCKET</key>
	<string>festcine-pedra-azul-a267e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069842051069:ios:66dae37cd41104db5c7394</string>
</dict>
</plist>